@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

:root {
  font-size: 16px;
  --main-bg-color: #eff0f5;
  --main-text-color: #404668;
  --box-shadow: 0 4px 8px #4046681a;

  --primary-color: #5521b5;
  --secondary-color: #f0f1f6;
  --error-color: #ffcccc;

  --border-radius: 0.25em;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #fff;
  color: var(--main-text-color);
}

.navbar {
  height: 120px;
  padding: 0.5em 1em;
  background-color: var(--main-bg-color);
}

.navbar .flex {
  flex-direction: column;
  justify-content: space-between;
}

.navbar h1 {
  color: var(--main-text-color);
}

.navbar ul {
  height: 100%;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-bg-color);
}

.navbar a {
  color: var(--main-text-color);
  transition: all 0.1s ease-in;
}

.navbar a:hover {
  border-bottom: 2px var(--primary-color) solid;
}

/* Desktop version */
@media only screen and (min-width: 1100px) {
  .navbar {
    height: 70px;
  }

  .navbar .flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
  }
  .navbar a {
    padding: 0.75em;
    margin: 0 0.25em;
  }
}

/* Utilities */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  margin-bottom: 0.5em;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1em;
}

.card {
  padding: 1em;
  margin: 0.75em;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid #a6abc9;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.card:hover {
  box-shadow: var(--box-shadow);
}

.flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  float: right;
}

form {
  margin: 0.75em;
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.input-container {
  margin-bottom: 1em;
}

.input-control {
  width: 100%;
  padding: 0.75em;
  color: var(--main-text-color);
  font-size: 1em;
  border: 1px solid #a6abc9;
  border-radius: var(--border-radius);
}

.flex .input-control {
  margin-right: 1em;
}

.input-control:focus {
  outline: none;
}

.btn {
  display: inline-block;
  padding: 0.75em 2em;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 1em;
  border: 0px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-danger {
  background-color: var(--error-color);
  border: 1px solid#ef8d8d;
  color: var(--main-text-color);
}

.btn:hover {
  transform: scale(0.98);
}

.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px var(--primary-color) solid;
}

.btn-outline:hover {
  background: var(--primary-color);
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-secondary {
  color: #a9aec0;
}

.mt-1 {
  margin-top: 1em;
}

/* Alert */
.alert {
  margin: 1em 0;
  padding: 1em;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.alert i {
  margin-right: 0.5em;
}

.alert-success {
  background-color: var(--primary-color);
  color: #fff;
}

.alert-error {
  background-color: var(--error-color);
}
