<% if(typeof errors != 'undefined'){ %> <% errors.forEach(error => { %>
<div class="alert alert-error">
  <i class="fas fa-times"></i><%= error.message %>
</div>
<% }); %> <% } %> <%# errors %> <% if(success_message != ''){ %>
<div class="alert alert-success">
  <i class="far fa-check-circle"></i><%= success_message %>
</div>
<% } %> <%# errors %> <% if(error_message != ''){ %>
<div class="alert alert-error">
  <i class="fas fa-times"></i><%= error_message %>
</div>
<% } %> <%# errors %> <% if(error != ''){ %>
<div class="alert alert-error"><i class="fas fa-times"></i><%= error %></div>
<% } %>
